<p class="date">Hi, I'm Michael Sliwinski, the host of this site. Enjoy my writing? Subscribe to my monthly newsletter and I'll send you two of my books "It's All About Passion" and "No Office Apps":</p>

<form action="https://nozbe.info/add_subscriber.html" accept-charset="utf-8" method="post"><div class="flex-box"><div class="flex-left">
<input type="text" name="name" placeholder="Name"/></div><div class="flex-right">
<input type="text" name="email" placeholder="Your@Email.com"/></div></div>
<input type="hidden" name="campaign_token" value="YGSR"/>
<input type="hidden" name="thankyou_url" value="https://michael.team/please/"/>
<input type="hidden" name="start_day" value="0"/>
<input type="submit" value="Join and get free books!"/>
</form>

<p> class="date"><a href="/privacy/">Respect and GDPR support</a>: No spam. One monthly email. Unsubscibe anytime.</p>

<!-- TODO: enable dark mode for both of these messages -->
<!-- TODO: send first newsletter to tell people about the change to michael.team and No Office book and unsubscribe if they don't want to hear from me -->
