{% comment %}
Getting the date based on the language of the post - English, Spanish or Polish
Output is "langdate" variable. You first call:
{% include lang.date.html date=page.date %}
and later below you put:
{{ langdate }}
The default output is: "Wednesday, January 1, 2020"
Additional optional parameter is "month". If true, the date will display "January 2020".
{% endcomment %}
{% if langlang==nil %}{% include lang.html %}{% endif %}
{% if langlang=='en' %}
  {% if include.month %}
    {% assign langdate = include.date | date: "%B %Y" %}
  {% else %}
    {% assign langdate = include.date | date: "%A, %B %e, %Y" %}
  {% endif %}
{% else %}
  {% if langweeks==nil %}{% include lang.months.html %}{% endif %}
  {% assign langdatewek = include.date | date: "%u" %}
  {% assign langdatewek = langdatewek | plus:0 %}
  {% assign langdateday = include.date | date: "%-d" %}
  {% assign langdatemth = include.date | date: "%-m" %}
  {% assign langdatemth = langdatemth | plus:0 %}
  {% assign langdateyer = include.date | date: "%Y" %}
  {% if include.month %}
    {% capture langdate %}{{ langmonths[langdatemth] }} {{ langdateyer }}{% endcapture %}
  {% else %}
    {% capture langdate %}{{ langweeks[langdatewek] }}, {{ langdateday }} {{ langmonths[langdatemth] }} {{ langdateyer }}{% endcapture %}
  {% endif %}
{% endif %}