{% capture nt %}ad_n{{ langvar }}{% endcapture %}
{% capture nta %}&nbsp;{{ site.data.main.[nt] | markdownify }}{% endcapture %}
{% assign ntafter = nta | remove: '<p>' | remove: '</p>' %}
{% capture ad_slogan %}ad_slogan{{ langvar }}{% endcapture %}
{% capture ntslogan %}{{ site.data.main.[ad_slogan] }}{% endcapture %}
{% capture ntlink %}/gratis?to=na{{ langvar }}{% endcapture %}

<div style="max-width: 140pt; margin: auto;">
{% include hx.html text="<strong>&nbsp;N&nbsp;</strong>" href=ntlink after=ntafter title=ntslogan %}
</div>
