{% assign podcasturl = nil %}
{% case include.id %}
  {% when "noofficefm" %}
    {% assign podcasturl = "us/podcast/no-office/id1527466890" %}
  {% when "niemabiura" %}
    {% assign podcasturl = "pl/podcast/nie-ma-biura/id1526795631" %}
  {% when "podcast" %}
    {% assign podcasturl = "us/podcast/the-podcast/id1012329770" %}
{% endcase %}
{% if podcasturl %}
<iframe
  title="Apple Podcasts player"
  src="https://embed.podcasts.apple.com/{{ podcasturl }}?theme=auto&amp;size=small"
  loading="lazy"
  allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
  style="border:0; border-radius:12px; width:100%; height:450px; max-width:660px;">
</iframe>
{% endif %}
