{% comment %}
This can be used without limit, or with limit, or with offset:
{% include posts.html posts=site.categories.en limit=1 %}
{% include posts.html posts=site.categories.en offset=1 limit=2 %}
{% include posts.html posts=site.categories.en offset=1 limit=2 more=1 %}
In here we create our own index (and not rely on the forloop.index, because we have to rule out the blog posts which are in each language and the same category - like webinars in en/es/pl - they belong to the same category
The "more" parameter is to make sure we want to display the images and the summary. Otherwise it's just title and date.
The output also includes "last_post_name" so if we want to exclude it in next lising
If we want to list all posts from one tag - like featured on home page:
{% include posts.html posts=site.tags.featured limit=1 more=1 %}
If we want to exclude one post from not appearing in the list (the featured one - so it doesn't repeat!)
{% include posts.html posts=site.tags.featured limit=1 more=1 notpost=last_post_url %}
This way we can exclude a post that is currently featured on the home page!
{% endcomment %}

{% if langlang==nil %}{% include lang.html %}{% endif %}
{% if include.offset!=nil %}
  {% assign include_limit = include.limit | plus: include.offset %}
{% else %}
  {% assign include_limit = include.limit %}
{% endif %}
{% assign langindex = 0 %}
{% capture read %}read{{ langvar }}{% endcapture %}

{% for post in include.posts %}
  {% if post.lang!=langlang %}{% continue %}{% endif %}
  {% if post.url==include.notpost %}{% continue %}{% endif %}
  {% assign langindex = langindex | plus:1 %}
  {% if include.offset!=nil %}
    {% if langindex <= include.offset %}{% continue %}{% endif %}
  {% endif %}
  
<h2><a href="{{ post.url }}" title="{{ post.title }}">{% include tags.post.html tags=post.tags short="true" %} {{ post.title }}</a></h2>
  {% include lang.date.html date=post.date %}
<div class="date">{{ langdate }} <span class="small">{{ post.url }}</span></div>
  {% if include.more %}
    {% if post.cover %}{% assign postimage = post.cover %}{% elsif post.img %}{% assign postimage = post.img %}{% else %}{% assign postimage = nil %}{% endif %}
{{ post.excerpt }}
    {% if postimage %}
<p><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/img/{{ postimage }}" alt="{{ post.title }}" /></a></p>
    {% endif %}

{% capture posttext %}{{ site.data.main.[read] }}{% endcapture %}
{% include hx.html text=posttext href=post.url title=post.title %}
<br clear="all" />

  {% endif %}
  {% assign last_post_url = post.url %}
  {% if langindex==include_limit %}{% break %}{% endif %}
{% endfor %}