{% if langlang==nil %}{% include lang.html %}{% endif %}
{% capture share %}share{{ langvar }}{% endcapture %}
{% if page.slug %}{% assign slug = page.slug %}{% else %}{% assign slug = page.name | remove_first: ".md" %}{% endif %}
{% capture sharelink %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture sharelink_name %}{{ site.data.main.domain }}{{ langpath }}/{{ slug }}{% endcapture %}
{% for tag in page.tags %}{% if tag == "podcast" %}{% assign altslug = slug | replace: "podcast-", "" %}{% capture sharelink %}{{ site.data.main.url_podcast }}{{ altslug }}{% endcapture %}{% capture sharelink_name %}{{ site.data.main.url_podcast_name }}/{{ altslug }}{% endcapture %}{% endif %}{% endfor %}
{% if slug == "podcast" %}{% capture sharelink %}{{ site.data.main.url_podcast }}{% endcapture %}{% capture sharelink_name %}{{ site.data.main.url_podcast_name }}{% endcapture %}{% endif %}

{% if thisbook %}{% capture sharelink_name %}{{ site.data.main.domain }}{{ page.url }}{% endcapture %}{% endif %}

{% if page.share!="noshow" %}
<h3>{{ site.data.main.[share] }}: <a href="{{ sharelink }}">{{ sharelink_name }}</a></h3>
	{% if include.tweet %}
	{% capture tweet %}sharet{{ langvar }}{% endcapture %}
	<h4><a href="https://twitter.com/intent/tweet?text={{ page.title }}&via={{ site.data.main.twitter }}&url={{ sharelink }}&hashtags={{ tagcommas }}">{{ site.data.main.[tweet] }}</a></h4>
	{% endif %}
{% endif %}
{% if page.email!="noshow" %}
<div class="footnotes">
{% include email.html %}
</div>
{% endif %}