{% if include.tags.size>0 -%}
{% if langvar==nil %}{% include lang.html %}{% endif -%}
{% capture taglist %}tags{{ langvar }}{% endcapture -%}
{% for tag in include.tags -%}
{% for item in site.data.main.[taglist] -%}
{% if tag==item.name -%}
{% if include.short!=nil -%}
{{ comma }}{{ item.emoj }}{% assign comma = "&nbsp;" -%}
{% else -%}
{{ comma }}<a href="{{ langpath }}/{{ item.name }}/">{{ item.emoj }}{{ item.titl }}</a>{% assign comma = "," -%}
{% capture tagcommas %}{{ tagcommas }}{{ comma2 }}{{ item.name }}{% endcapture %}{% assign comma2 = "," -%}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endif -%}