<div class="embed-container">
<iframe
	src="https://www.youtube-nocookie.com/embed/{{ include.id }}"
	srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;height:100%;object-fit: cover;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/{{ include.id }}><img src=https://img.youtube.com/vi/{{ include.id }}/hqdefault.jpg><span>▶</span></a>"
	width="270"
	height="480"
	frameborder="0"
	webkitallowfullscreen="1"
	mozallowfullscreen="1"
	allowfullscreen="1"
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
  </iframe>
</div>
