---
layout: page
---

{{ content }}

{% include tags.html %}

{% assign currentYear = site.time | date: '%Y' %}
{% include lang.months.html %}

<br>

<nav class="tags">
<a href="#2020">2020</a> |
<a href="#2019">2019</a> |
<a href="#2018">2018</a> |
<a href="#2017">2017</a>
</nav>

{% assign postsByYear = site.categories.[langlang] | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}

<h2 id="{{ year.name }}">{{ year.name }}</h2>
  {% if langlang == 'en' %}
    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
  {% else %}
    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%-m'" %}
  {% endif %}
  {% for month in postsByMonth %}
    {% if langlang == 'en' %}
      {% assign monthname = month.name %}
    {% else %}
      {% assign monthindex = month.name | plus:0 %}
      {% assign monthname = langmonth[monthindex] %}
    {% endif %}
    <h3 style="font-size: 2em;margin-top: 1em;">{{ monthname }}{% if year.name!=currentYear %} {{ year.name }}{% endif %}</h3>
    {% for post in month.items %}
      <h3><a href="{{ post.url }}">{% include lang.tags.html tags=post.tags short="true" %}{{ post.title }}</a></h3>
      {% include lang.date.html date=post.date %}
      <div class="date">{{ langdate }}</div>
    {% endfor %}
  {% endfor %}
{% endfor %}
