---
layout: page
---

{{ content }}

{% assign currentYear = site.time | date: '%Y' %}
{% include lang.months.html %}

{% assign postsByYear = site.categories.[langlang] | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<h2>{{ year.name }}</h2>
  {% if langlang == 'en' %}
    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
  {% else %}
    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%-m'" %}
  {% endif %}
  {% for month in postsByMonth %}
    {% if langlang == 'en' %}
      {% assign monthname = month.name %}
    {% else %}
      {% assign monthindex = month.name | plus:0 %}
      {% assign monthname = langmonth[monthindex] %}
    {% endif %}
    <h3>{{ monthname }}{% if year.name!=currentYear %} {{ year.name }}{% endif %}</h3>
    {% for post in month.items %}
      <h3><a href="{{ post.url }}">{% include lang.tags.html tags=post.tags short="true" %}{{ post.title }}</a></h3>
      {% include lang.date.html date=post.date %}
      <div class="date">{{ langdate }}</div>
    {% endfor %}
  {% endfor %}
{% endfor %}
