<!DOCTYPE html>
<html><head>
{% include lang.html %}{% capture pagetitle %}title{{ langvar }}{% endcapture %}{% capture pagetitleshort %}titleshort{{ langvar }}{% endcapture %}{% capture pagedescr %}descr{{ langvar }}{% endcapture %}{% capture pagename %}name{{ langvar }}{% endcapture %}{% capture pagelocale %}locale{{ langvar }}{% endcapture %}

{% if page.book %}
	{% assign thisbook = page.book %}
	{% capture descbook %}book{{ langvar }}{% endcapture %}
{% endif %}

<title>{% if page.title %}{{ page.title }}{% if thisbook %} - {{ site.data.main.[descbook] }} - {{ site.data.[thisbook].title }}{% endif %} – {{ site.data.main.[pagetitleshort] }}{% else %}{{ site.data.main.[pagetitle] }}{% endif %}</title>

<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<meta name="twitter:card" content="summary_large_image" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ site.data.main.[pagetitle] }}" />
<meta property="twitter:title" content="{{ site.data.main.[pagetitle] }}" />
{% endif %}
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
<meta property="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.data.main.[pagedescr] | markdownify | strip_html }}">
<meta property="og:description" content="{{ site.data.main.[pagedescr] | markdownify | strip_html }}" />
<meta property="twitter:description" content="{{ site.data.main.[pagedescr] | markdownify | strip_html }}" />
{% endif %}
{% if page.cover %}
<meta name="twitter:image" content="{{ site.url }}/img/{{ page.cover }}" />
<meta property="og:image" content="{{ site.url }}/img/{{ page.cover }}" />
{% elsif page.img %}
<meta name="twitter:image" content="{{ site.url }}/img/{{ page.img }}" />
<meta property="og:image" content="{{ site.url }}/img/{{ page.img }}" />
{% elsif page.vid %}
<meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.vid }}"/>
<meta name="twitter:player:width" content="1280" />
<meta name="twitter:player:height" content="720" />
<meta name="twitter:image" content="https://i.ytimg.com/vi/{{ page.vid }}/maxresdefault.jpg" />
<meta property="og:image" content="https://i.ytimg.com/vi/{{ page.vid }}/maxresdefault.jpg" />
{% else %}
<meta name="twitter:image" content="{{ site.url }}/img/michael.team.jpg" />
<meta property="og:image" content="{{ site.url }}/img/michael.team.jpg" />
{% endif %}
<meta name="author" content="{{ site.data.main.[pagename] }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:locale" content="{{ site.data.main.[pagelocale] }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta name="twitter:site" content="@MSliwinski"/>
{{ page.head }}
{% if page.podcast %}
<meta name="apple-itunes-app" content="app-id={{ page.podcast }}" />
{% endif %}

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.data.main.[pagetitle] }}" href="{{ site.url }}{{ langpath }}/atom.xml" />
<link rel="icon" type="image/png" href="{{ site.avatar }}">
<base target="_parent">
<script src="https://hello.michael.team/script.js" async></script>
{% if page.layout == "post" %}
<script type="text/javascript" src="{{ site.url }}/js/post.js"></script>
{% endif %}
{% if page.js %}
{% if page.js == "redirect" %}
<meta http-equiv="Refresh" content="60; url=https://michael.team/" />
<script type="text/javascript" src="{{ site.url }}/js/redirect.js"></script>
{% else %}
<script type="text/javascript" src="{{ site.url }}/js/scripts.js"></script>
{% endif %}
</head><body onload="{{ page.js }}();">
{% else %}
</head><body>
{% endif %}

<div class="begend" id="top">
	<div class="begender">
		<a href="{{ site.url }}/{{ langpath }}" class="avatar" title="{{ site.data.main.[pagetitle] }}"><img src="/icon.dark.png" alt="MS"></a>
		<div class="topright">{% for item in site.data.main.nav %}&nbsp;<a href="{{ site.url }}{{ item.url }}"{% if item.url == '/' %}{% if page.lang=='en' %} class="bold"{% endif %}{% else %}{% capture navlang %}/{{ page.lang }}/{% endcapture %}{% if item.url contains navlang %} class="bold"{% endif %}{% endif %}>{{ item.title }}</a>{% endfor %}
		</div>
		{{ site.data.main.[pagedescr] | markdownify }}
	</div>
</div>

{% if site.data.main.ad == 'true' %}{% include ad.html %}{% endif %}

{{ content }}

<div class="begend" id="footer">
	<div class="begender center"><p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}/">{{ site.data.main.[pagename] }}</a></p>
	</div>
</div>

</body></html>