---
layout: default
---

<article class="post">
{% if page.cover %}<header style="background: url('{{ site.url }}/img/{{ page.cover }}') center center / cover no-repeat; min-height: 400px;"><div class="header">{% else %}<header><div class="header headerblack">{% endif %}
	<h1>{{ page.title }}</h1>
	{% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
	<h3>{% include lang.tags.html tags=page.tags %}</h3>
</div></header>
<div class="entry">
	{{ content }}
</div>
<footer>
	{% include lang.date.html date=page.date %}
	<div class="date">{{ langdate }}</div>
	{% capture share %}share{{ langvar }}{% endcapture %}
	{% capture tweet %}sharet{{ langvar }}{% endcapture %}
	<h3>{{ site.data.main.[share] }}: <a href="{{ site.url }}{{ page.url }}">{{ site.data.main.domain }}{{ page.url }}</a></h3>
	<h4><a href="https://twitter.com/intent/tweet?text={{ page.title }}&via={{ site.data.main.twitter }}&url={{ site.url }}{{ page.url }}&hashtags={{ tagcommas }}">{{ site.data.main.[tweet] }}</a></h4>
</footer>
</article>