---
layout: null
---
{% include lang.html %}[
  {% assign comma = "" %}
  {% for post in site.categories.[langlang] %}
    {{ comma }}
    {
      "title"    : "{{ post.title | escape }}",
      "tags"     : "{{ post.tags | join: ', ' }}",
      "url"      : "{{ site.url }}{{ post.url }}",
      "date"     : "{{ post.date }}",
      "desc"     : ""
    }
    {% assign comma = "," %}
  {% endfor %}
  {{ comma }}
  {% assign comma = "" %}
  {% for page in site.pages %}
    {% if page.lang == langlang %}
      {% if page.title != nil %}
    {{ comma }}
    {
      "title"    : "{{ page.title | escape }}",
      "url"      : "{{ site.url }}{{ page.url }}",
      "desc"     : ""
    }
    {% assign comma = "," %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% comment %}
  - This needs to be enabled when the book is there, because now it isn't - and I assume we'll add different books depending on the language, right?
  ,
  {% for page in site.passion %}
   {
     {% if page.title != nil %}
        "title"    : "{{ page.title | escape }}",
        "url"      : "{{ site.url }}{{ page.url }}",
        "date"     : "{{ page.date }}",
        "desc"     : "{{ page.subtitle | escape }}"
     {% endif %}
   } {% unless forloop.last %},{% endunless %}
  {% endfor %}
  {% endcomment %}
]