---
layout: nil
---
{% include lang.html %}[
  {% assign comma = "" %}
  {% for post in site.categories.[langlang] %}
    {{ comma }}
    {
      "title"    : "{{ post.title | escape }}",
      "emoji"    : "{% include tags.post.html tags=post.tags short="true" %}",
      "tags"     : "{{ post.tags | join: ', ' }}",
      "url"      : "{{ post.url }}",
      "date"     : "{{ post.date }}"
      {% comment %}We can add here later descriptions (excerpts), tag names or tag icons (or put tag data in a different JSON) and post.img (main images of posts){% endcomment %}
    }
    {% assign comma = "," %}
  {% endfor %}
]