---
layout: default
---

<article class="page" id="page">
{% include tags.html %}
{% if page.cover %}<header style="background: url('{{ site.url }}/img/{{ page.cover }}') center center / cover no-repeat; min-height: 400px;"><div class="header">{% else %}<header><div class="headerblack">{% endif %}
	<h1>{{ tag_emoji }} {{ tag_title }}</h1>
</div></header>

<div class="entry">
	{{ tag_subtitle | markdownify }}
	{% include podcast.html id=tag_name %}
	{% if page.limit %}{% assign tag_limit = page.limit %}
		{%else %}{% assign tag_limit = 10 %}{% endif %}
</div>
</article>

{% assign tag_posts = site.tags[tag_name] %}

<article class="page" id="first"><div class="entry">
{% include posts.html posts=tag_posts limit=tag_limit more=1 %}
</div></article>

<article class="page" id="rest"><div class="entry">
{% include posts.html posts=tag_posts offset=tag_limit %}</div>
<footer>
{% include share.html %}
</footer>
</article>